{{#each basicInfo}}
	<p>{{@key}}:{{this}}</p>
{{/each}}
{{#each socialMedia}}
	<p>{{@key}}:{{this}}</p>
{{/each}}
{{#each skills}}
	<p>{{@key}}:{{this}}</p>
{{/each}}
{{#each education}}
	<p>{{@key}}:{{this}}</p>
{{/each}}
{{#each experience}}
	<p>{{@key}}:{{this}}</p>
{{/each}}
{{#each portfolio}}
	<p>{{@key}}:{{this}}</p>
{{/each}}